.container{
    height: 100vh;
}

.main {
    padding-left: 5px;
    padding-right: 5px;
    background-color: gainsboro;
    overflow-y: auto
}

.footer{
    background-color: rgb(63, 81, 181);
    color:white;
    padding: 5px 5px 5px 5px;
}

span{
    cursor: pointer;
}


